#cloud-config
hostname: maas-controller
manage_etc_hosts: true
chpasswd:
  users:
    - name: ubuntu
      password: ubuntu
      type: text
  expire: false
users:
  - name: ubuntu
    sudo: "ALL=(ALL) NOPASSWD: ALL"
    groups: users, admin
    homedir: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    ssh_authorized_keys:
      - {{ maas_ssh_pubkey }}
ssh_pwauth: true
password: ubuntu
